.main{
  width: 100%;
  height: auto;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(73, 72, 72, 0.5)),url(../public/assest/zym_bg.jpg);
  /* background-image: url(../public/assest/zym_bg.jpg); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home_content{
  color: white;
  padding: 200px 100px 300px 100px;
}

.home_content h2{
  font-size: 40px;
}

.home_content .span_unique{
  border: 2px solid rgb(55, 37, 218);
  padding: 0px 15px;
  background-color: rgb(55, 37, 218);
  /* background-color: brown; */
  border-radius: 3px;
  /* letter-spacing: 1px; */
}


/* Exercise_list_section */

.exercise_list{
  width: 100%;
  height: auto;
  /* text-align: center; */
  padding: 30px 100px;
}

.exercise_list_title{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.exercise_list_title h2{
  font-size: 40px;
}

.exercise_list_card{
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(4 , auto);
  justify-content: space-evenly;
  column-gap: 20px;
  row-gap: 40px;
}
.about{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.abt_right{
  display: grid;
  grid-template-columns: repeat(2,auto);
  column-gap: 10px;
  row-gap: 10px;
  padding: 20px;
}
.abt_title h1{
  font-size: 40px;
}
.abt_img{
  object-fit: cover;
}
/* mediaQueries */

@media (max-width : 680px) {
  .home_content h2{
    font-size: 25px;
  }
  .home_content{
    padding: 150px 30px;
  }

  /* exercise_list */
  .exercise_list_card{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(1 , auto);
    justify-content: space-evenly;
    column-gap: 10px;
    row-gap: 30px;
  }
  .exercise_list_title h2{
    font-size: 30px;
  }

  /* about */
  .about{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .abt_right{
    display: grid;
    grid-template-columns: repeat(2,auto);
    column-gap: 10px;
    row-gap: 10px;
    padding: 20px;
  }
  .abt_title h1{
    font-size: 20px;
  }
  .abt_title{
    padding: 20px;
  }
  .abt_title p{
    font-size: 12px;
  }
  .abt_img{
    object-fit: cover;
    width: 150px;
    height: 150px;
  }
}