.button{
    width: auto;
    height: auto;
    background-color: rgb(55, 37, 218);
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}

.button:hover{
    background-color: rgb(83, 46, 248);
}

/* @media (max-width : 680px) {
    .button{
        display: none;
    }
} */